.button {
	background-color: $color-primary;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	padding: 0.5em 0.75em;
	text-decoration: none;

	transition: background-color $transition-short;

	&:hover {
		background-color: $color-primary-dark;
	}

	&[disabled] {
		background-color: #aaa;
		cursor: not-allowed;
	}
}
