.invoice-edit {
	background: #f8f8f8;
	overflow: auto;
	padding: $gutter;

	.invoice-edit__field {
		margin-bottom: 1em;

		label {
			display: block;
			font-size: 0.875em;
		}

		input, textarea, select {
			background: none;
			border: none;
			border-bottom: 1px solid #888;
			font-size: 1.5em;
			font-weight: 100;
			min-height: 1.5em;
			resize: none;
			width: 100%;

			transition: box-shadow $transition-short;

			&:focus {
				box-shadow: 0 2px 0 -1px black;
				outline: none;
			}
		}
	}

	.invoice-edit__table {
		@include clearfix;

		margin-bottom: 1em;

		.invoice-edit__table__add {
			float: right;
		}

		table {
			border-spacing: 0;
			width: 100%;
		}

		th, td {
			&:nth-child(2),
			&:nth-child(3) {
				width: 80px;
			}

			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}

		th {
			font-size: 0.875em;
			font-weight: inherit;
			text-align: left;
		}

		input[type=text],
		input[type=number] {
			background: white;
			border: 1px solid #ccc;
			padding: 0.2em 0.4em;
			width: 100%;

			&:focus {
				outline: none;
			}
		}
	}
}
