.invoice-edit {
	background: #f8f8f8;
	padding: $gutter;

	.invoice-edit__field {
		margin-bottom: 1em;

		label {
			display: block;
			font-size: 0.875em;
		}

		input, textarea, select {
			background: none;
			border: none;
			border-bottom: 1px solid #888;
			font-size: 1.5em;
			font-weight: 100;
			resize: none;
			width: 100%;

			transition: box-shadow $transition-short;

			&:focus {
				box-shadow: 0 2px 0 -1px black;
				outline: none;
			}
		}
	}
}
