.invoice-list {
	border-right: 1px solid #aaa;
	list-style: none;
	margin: 0;
	overflow: auto;
	padding: 0;

	.invoice-list__item {
		background: none;
		border: none;
		border-bottom: 1px solid #aaa;
		cursor: pointer;
		display: block;
		padding: $gutter;
		position: relative;
		text-align: left;
		width: 100%;

		transition: background-color $transition-short;

		&:hover {
			background-color:lighten(#3f5765, 35%);
		}

		&:focus {
			outline: none;
		}

		&.invoice-list__item--new {
			font-weight: bold;
		}

		&.invoice-list__item--selected {
			background-color: #3f5765;
			color: white;

			.invoice-list__item__name {
				color: white;
			}

			.invoice-list__item__date {
				color: #bbb;
			}

			.invoice-list__item__unsaved {
				color: white;
			}
		}

		.invoice-list__item__name {
			color: #333;
			font-size: 1.125em;
		}

		.invoice-list__item__date {
			color: #666;
			font-size: 0.875em;
			font-style: italic;
			margin-top: $gutter/2;
		}

		.invoice-list__item__unsaved {
			color: red;

			position: absolute;
			top: 5px;
			right: 8px;
		}
	}
}
